/* Base styles for the entire app */
.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

/* App header styles, consider using an F1 image or a color gradient */
.App-header {
  background: linear-gradient(to right, #e10600, #f1c40f); /* F1 car colors red to yellow */
  color: white;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Style for each section heading */
.section-heading {
  font-size: 2em;
  margin: 20px 0;
  border-bottom: 2px solid white;
  display: inline-block;
  padding-bottom: 10px;
}

/* Styles for the race information */
.RaceInfo, .Countdown, .Podium {
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  max-width: 600px;
}

/* List styling */
ul {
  list-style: none;
  padding: 0;
}

li {
  text-align: left;
  font-size: 1.2em;
  padding: 10px 0;
}

/* Bold for labels */
strong {
  font-weight: bold;
}

/* Styling for countdown timer */
.Countdown {
  font-size: 1.5em;
  background-color: #000; /* Black background for countdown */
  color: #fff; /* White text color */
}

/* Link styling */
.App-link {
  color: #61dafb;
  text-decoration: none;
}
